@page "/galleries/{GalleryId}"
@using Gallerio.Api.Dtos
@using Gallerio.Web.Client.Options
@using Gallerio.Web.Client.Services.BackendProvider
@using Gallerio.Web.Client.Services.LayoutConfiguration
@using Gallerio.Web.Client.Shared.Atoms
@using Gallerio.Web.Client.Shared.Molecules
@inject HttpClient Http
@inject ILayoutConfigurationService _layoutConfigurationService
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider
@inject NavigationManager _navManager
@inject IJSRuntime JsRuntime
@inject IBackendProvider _backendProvider

@implements IDisposable


@if (_gallery == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else
{
    <div id="grid-container">
        <div id="grid-container-list">
            @if (_multimedia == null)
            {
                <LoadingSpinner class="h-100"></LoadingSpinner>
            }
            else
            {
                <div>
                    @for (int i = 0; i < _multimedia.Count(); i++)
                    {
                        var index = i;
                        var mi = _multimedia[index];
                        <div class="card m-2 @(mi == _selectedMultimedia ? "selected" : null)" @onclick="() => ShowMultimedia(index)">
                            <div class="card-body p-2">
                                <p class="card-title">@mi.PartialPath</p>
                                <p class="card-subtitle text-muted">@mi.CaptureDateTime.ToString("dd.MM.yyyy HH:mm")</p>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div id="grid-container-image" class="d-flex align-content-center justify-content-center">
            <MultimediaContainer 
                SelectedMultimediaItem="@_selectedMultimedia" 
                GalleryId="@GalleryId">
            </MultimediaContainer>
        </div>
        <div id="grid-container-meta" class="p-2">
            @if (_selectedMultimedia is not null)
            {
                <div class="grid-container-meta-tags">
                    <TagList @ref="_tagListRef"
                     Tags="_tags"
                     OnTagAdd="AddTag"
                     OnTagRemove="RemoveTag">
                    </TagList>
                </div>
            }
        </div>
        <div id="grid-container-controls" class="d-grid justify-content-center">
            <ButtonImageGroup>
                <ButtonImage OpenIconicClass="oi-caret-left" OnClicked="() => NavigateLeft()"></ButtonImage>
                <ButtonImage OpenIconicClass="oi-caret-right" OnClicked="() => NavigateRight()"></ButtonImage>
            </ButtonImageGroup>
        </div>

    </div>
}


@code {
    private TagList? _tagListRef;

    private GalleryDto? _gallery;

    private MultimediaItemDto[]? _multimedia;

    private MultimediaItemDto? _selectedMultimedia = null;

    private int? _selectedMultimediaIndex = null;

    private IEnumerable<string>? _tags = null;

    [Parameter]
    public string? GalleryId { get; set; }

    public async Task AddTag(string tag)
    {
        if (_selectedMultimedia == null || _selectedMultimediaIndex == null) return;

        var tagsResponse = await Http.PostAsJsonAsync<AddTag>(_backendProvider.GetUri($"api/gallery/{GalleryId}/multimedia/{_selectedMultimedia.Id}/tags"), new Api.Dtos.AddTag(tag));
        if (!tagsResponse.IsSuccessStatusCode)
        {
            if (tagsResponse.StatusCode == System.Net.HttpStatusCode.Conflict)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Tag již existuje!");
                return;
            }
            throw new ApplicationException("Chyba uložení tagu.");
        }
        await ShowMultimedia(_selectedMultimediaIndex.Value);

        _tagListRef?.SetDefaultValueForNewTagInput();
    }

    public async Task RemoveTag(string tag)
    {
        if (_selectedMultimedia == null || _selectedMultimediaIndex == null) return;
        var tagsResponse = await Http.DeleteAsync(_backendProvider.GetUri($"api/gallery/{GalleryId}/multimedia/{_selectedMultimedia.Id}/tags/{tag}"));
        if (!tagsResponse.IsSuccessStatusCode) throw new ApplicationException("Chyba odstranění tagu.");
        await ShowMultimedia(_selectedMultimediaIndex.Value);
    }

    public async Task NavigateLeft()
    {
        if (_selectedMultimediaIndex == null || _selectedMultimediaIndex == 0) return;
        await ShowMultimedia(_selectedMultimediaIndex.Value - 1);
    }

    public async Task NavigateRight()
    {
        if (_selectedMultimediaIndex == null || _multimedia == null || _selectedMultimediaIndex == _multimedia.Count() - 1) return;
        await ShowMultimedia(_selectedMultimediaIndex.Value + 1);
    }

    public async Task ShowMultimedia(int index)
    {
        _selectedMultimediaIndex = index;
        _selectedMultimedia = _multimedia![index];
        var tagsResponse = await Http.GetFromJsonAsync<MultimediaItemTagsDto>(_backendProvider.GetUri($"api/gallery/{GalleryId}/multimedia/{_selectedMultimedia.Id}/tags"));
        if (tagsResponse != null && tagsResponse.Tags != null)
        {
            _tags = tagsResponse.Tags;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var getGalleryRq = Http.GetFromJsonAsync<GalleryDto>(_backendProvider.GetUri($"api/gallery/{GalleryId}"));
        var getMultimediaRq = Http.GetFromJsonAsync<MultimediaItemDto[]>(_backendProvider.GetUri($"api/gallery/{GalleryId}/multimedia"));

        _gallery = await getGalleryRq;

        _breadcrumbsProvider.Clear();
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/", "Home", true));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/Galleries", "Galerie", true));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink($"/Galleries/{_gallery!.Id}", _gallery!.Name, false));

        _layoutConfigurationService.NoPadding = true;

        StateHasChanged();

        _multimedia = await getMultimediaRq;
    }

    public void Dispose()
    {
        _layoutConfigurationService.NoPadding = false;
    }
}
