@page "/galleries"
@using Gallerio.Api.Dtos
@using Gallerio.Web.Client.Shared.Molecules
@using Gallerio.Web.Client.Shared.Atoms
@inject HttpClient Http
@inject Gallerio.Web.Client.Services.Breadcrumbs.IBreadcrumbsProvider _breadcrumbsProvider
@inject NavigationManager _navManager


@if (_galleries == null)
{
   <LoadingSpinner></LoadingSpinner>
}
else
{
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
        @foreach (var gallery in _galleries)
        {

            <div class="col">
                <GalleryCard
                    Date="@gallery.Date" 
                    Description="@gallery.Description"
                    Id="@gallery.Id"
                    Name="@gallery.Name"
                    PhotosTotalCount="@gallery.PhotosTotalCount"
                    OnGoToGallery="GoToGallery"
                >
                    
                </GalleryCard>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<GalleryDto>? _galleries;

    private void GoToGallery(Guid id)
    {
        _navManager.NavigateTo($"/Galleries/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        _galleries = await Http.GetFromJsonAsync<GalleryDto[]>("https://localhost:7173/api/gallery");
        _breadcrumbsProvider.Clear();
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/", "Home", true));
        _breadcrumbsProvider.Push(new Services.Breadcrumbs.BreadcrumbLink("/Galleries", "Galerie", false));
    }
}
